.KeyState-None {
    /* Color normal */
    color: #3D6961; /* Dark Green */
    background-color: #FFFEFD;
}

.KeyState-Include {
    /* Color include */
    color: #FFFEFD;
    background: #568078; /* Green */
}

.KeyState-Required {
    /* Color require*/
    color: #FFFEFD;
    background: #F6A354 /* Bold Orange */
}

.wordlist {
    max-width: 600px;
    text-align: justify;
    word-wrap: break-word;
    font-size: 2em;
}

.wordlist span:before {
    content: ' ';
}

.controls {
    clear: both;
}

.orange {
    background-color: #F6A354 /* Bold Orange */
}

.bluegreen {
    background-color: #568078; /* Green */
}
